
<form action="" method="POST">
<div class="center container1" >
  <h3>Login</h3>
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" class= "input1"><br>
  <div style="margin-top: 10px"></div>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" class="input1" ><br>
   <div style="margin-top: 10px"></div>
  <input type="submit" value="Đăng nhập" class="btn" >
  <h4>{{note}}</h4>
  <div><a href="/register">go to register</a></div>
</div>
</form>
