<form action="" method="POST">
<div class="center container1">
  <h3 class="poetsen-one-regular">Register</h3>
    <span class="material-symbols-outlined">account_circle</span>
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" class="input1"><br>
  <div style="margin-top: 10px"></div>
   <span class="material-symbols-outlined">lock</span>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" class ="input1" ><br>
  <div style="margin-top: 10px"></div>
   <span class="material-symbols-outlined">lock</span>
  <label for="password1">Password:</label>
  <input type="password" id="password1" name="password1" class="input1" ><br>
  <div style="margin-top: 10px"></div>
 <input type="submit" value="sign up" class="button2">
  <h4>{{note}}</h4>
<div><a href="/login">sign in</a></div>
</div>
</form>

