<form action="" method="POST">
<div class="center container1">
  <h3>Register</h3>
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" class="input1"><br>
  <div style="margin-top: 10px"></div>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" class ="input1" ><br>
  <div style="margin-top: 10px"></div>
  <label for="password1">Password:</label>
  <input type="password" id="password1" name="password1" class="input1" ><br>
  <div style="margin-top: 10px"></div>
 <input type="submit" value="register" class="btn">
  <h4>{{note}}</h4>
<div><a href="/login">go to login</a></div>
</div>
</form>

