
<form action="" method="POST">
<div class="center container1" >
  <h3 class="poetsen-one-regular">Login</h3>
  <span class="material-symbols-outlined">account_circle</span>
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" class= "input1"><br>
  <div style="margin-top: 10px"></div>
  <span class="material-symbols-outlined">lock</span>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" class="input1" ><br>
   <div style="margin-top: 10px"></div>
  <input type="submit" value="sign in" class="button2" > 
  <h4>{{note}}</h4>

  <div>
    <a href="/register">
      sign up</a>
    </div>
</div>
</form>
