
<nav class="">
  <a class="" href="">Home</a>
  <div id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/register">register</a>
      <a class="nav-item nav-link" href="/login">login</a>
    </div>
  </div>
</nav>